$btn_transition: all 0.3s ease;

%scroll_hidden {
    &::-webkit-scrollbar {
        display: none;
        background: transparent;
        height: 0;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
        height: 0;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        height: 0;
    }
    scrollbar-width: none;
}

html {
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    color: #000;
    background-color: #fff;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}
ul {
    text-decoration: none;
}
a {
    color: inherit;
    text-decoration: none;
}

.example {
    transition: $btn_transition;
    @extend %scroll_hidden;

    &__container {
        img {
        }
    }
    &::after {
    }
    &:hover {
    }
}
