doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/style.min.css")
    body
        div.wrapper
            header.header 
                .container
                    .logo.second-class
                        nav.menu 
                            ul 
                                li. 
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                    Ea ipsam, officiis distinctio illo eveniet, atque hic debitis 
                                    officia perferendis blanditiis beatae. Adipisci quia laborum 
                                    iste ipsa recusandae amet unde sed.
                                li. 
                                    Далеко-далеко за словесными горами в стране гласных и 
                                    согласных живут рыбные тексты. О, продолжил! Встретил 
                                    журчит семь ему, агентство, раз снова ты живет необходимыми 
                                    точках взгляд это парадигматическая подпоясал, переписывается 
                                    оксмокс вопрос.
                                li one word
                                li 
                                    a(href="#") link
            section.section 
                - for (var x = 0; x <5; x++)
                    div item
            section.section
                - 
                    var list = ['Uno', 'Dos', 'Tres'] 
                each item in list
                    li= item
            footer.footer
                |
                |
                a(href="") 1
                |
                |
                a(href="") 2
                |
                |
                a(href="") 3